.nutrition-summary {
  display: flex;
}

.nutrition-summary > .nutrition-summary__item::after {
  content: "-";
  margin: 0 0.5em;
}

.nutrition-summary > .nutrition-summary__item:last-child::after {
  content: "";
  margin: 0;
}
