.app-shell {
  --nav-drawer-width: 240px;

  display: flex;
}

.app-shell__content {
  flex-grow: 1;
  padding: 1.5rem;
  margin-top: 3.5rem;
}

.navigation-menu-icon {
  margin-right: 1rem;
}

.navigation__paper {
  width: var(--nav-drawer-width);
}

@media (--landscape) {
  .app-shell__content {
    margin-top: 3rem;
  }
}

@media (--md-up) {
  .app-shell__app-bar {
    width: calc(100% - var(--nav-drawer-width));
    margin-left: var(--nav-drawer-width);
  }

  .app-shell__navigation {
    width: 240px;
    flex-shrink: 0;
    margin-top: 4rem;
  }

  .navigation-menu-icon {
    display: none;
  }
}
