.app-shell-navigation__logo {
  height: 2rem;
  margin: 0.5rem;
}

@media (--landscape) {
  .app-shell-navigation__logo {
    margin: 0.25rem;
  }
}

@media (--md-up) {
  .app-shell-navigation__logo {
    margin: 0.75rem;
  }
}
