.ingredients-list-item {
  display: flex;
  align-items: flex-start;
}

.ingredients-list-item__ingredient {
  flex: 2;
  margin-right: 1em;
}

.ingredients-list-item__amount {
  flex: 1;
}

.ingredients-list-item__delete {
  margin-top: 22px;
  margin-left: 1em;
}
