.instructions-list-item {
  display: flex;
  align-items: flex-start;
}

.instructions-list-item__description {
  flex: 1;
}

.instructions-list-item__delete {
  margin-top: 22px;
  margin-left: 1em;
}
