.main-content {
  margin: 2rem auto;
}

.main-content--padded {
  padding: 1em;
}

.main-content--error {
  padding: 2em;
  color: var(--palette-error-main);
}

.main-content__loader {
  padding: 2em;
  text-align: center;
}

@media (--sm-up) {
  .main-content {
    max-width: 90%;
  }
}

@media (--md-up) {
  .main-content {
    max-width: 75%;
  }
}
